body {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;

    /* position: relative; */
}

h2 {
    text-align: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #0b3142 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 13px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    /* display: none; */
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #0b3142;
    border-radius: 5px;
    border: 3px none #ffffff;
}

input {
    font-family: 'Signika', sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background: rgb(171, 208, 168);
    background: linear-gradient(71deg, rgba(171, 208, 168, 1) 0%, rgba(44, 135, 117, 1) 58%, rgba(10, 104, 108, 1) 100%);
    background-repeat: no-repeat;
    overflow: scroll;
    padding: 0;
    margin: 0;
    /* padding-top: 5vh; */

}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(20 28 171 / 80%);
    z-index: 3;
    border-bottom: 5px solid #86aaba;
    justify-content: center;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;


}

ul li {
    justify-content: center;
    flex: 1 1 0;
    text-align: center;
}

li h2,
li h3 {
    color: white;

}

table {
    border: 3px solid #0b3142;
    border-radius: 6px;
    margin: 30px 5%;
    text-align: center;
    width: 90%;
}

section {
    /* justify-content: center; */
    /* flex-basis: 50%; */
    flex: 1 1 0;
}

form {
    width: 90%;
    margin: 10px 5%;
}

canvas {
    /* justify-content: center; */
    flex: 1 1 0;
    margin: 30px 5%;
    background-color: rgba(255, 249, 241, 0.829);
    padding: 20px;
    border-radius: 4px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.tableCont {
    height: 275px;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
    /* Color to use if you decide to add a shadow for scrolling #0b3142 */
}

/* .tableCont::after {
    box-shadow: 0px -6px 10px grey;
} */

input {
    font-size: 1rem;
    padding: .3rem;
    margin: 10px auto;
}

tbody tr:nth-of-type(2n-1) {
    background-color: #94bf94;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="submit"] {
    border: 1px solid #0b3142;
    border-radius: 4px;
}

tr:hover td {
    background-color: #0b3142;
    color: white;
}

#dietContent tr:hover td {
    background-color: #420b0b;
    color: white;
}

form div {
    display: inline-block;

}

.btn {
    border: solid white 2px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-size: 2vw;
    ;
    padding: 7px 17px;

}

.danger {
    background-color: red;
}

#bmiBar {
    background: rgb(74, 255, 0);
background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(185,192,0,1) 24%, rgba(155,255,0,1) 41%, rgba(0,255,25,1) 55%, rgba(35,255,0,1) 73%, rgba(0,228,255,1) 83%, rgba(0,39,255,1) 100%);
    height: 30px;
    width: 50%;
    margin: auto;
    position: relative;
    border-radius: 3px;
    border: 3px solid #0b3142;
}

.circle {
    position: absolute;
    width: 4px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    left: 0;
    left: 1.5px;
    transition: left 2s ease-in-out;
}

.circle::after {
    /* position: absolute; */
    content: attr(data-after);
    font-size: .9em;
    border-radius: 4px;
    background-color: rgba(255, 249, 241, 0.5);
    width: 30px;
    height: 30px;
    padding: 2px 8px;
    text-align: center;
    position: relative;
    /* padding: .3em; */
    border: 2px solid black;
    /* transform-origin: translateX(15px, 15px); */
    left: -15px;
    bottom: -40px;
    z-index: 3;
}

.hr {
    position: absolute;
    height: 30px;
    left: 15px;
    top: 0;
    border: 1px solid black;
    margin: 0;
}


.hr:nth-child(2) {
    left: 60px;
}

#modalBtn {
    position: fixed;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    right: 30px;
    bottom: 30px;
    background-color: black;
    border: 3px solid grey;
    display: flex;
    cursor: pointer;
    transition: all .24s;
    z-index: 11;
}

#modalBtn img{
    flex: 1 1 0;
}
#modalBtn:active{
    transform: rotate(360deg);
}

aside {
    position: fixed;
    bottom: 0;
    left: 0;
    /*width: 50%;*/
    /*height: 100vh;*/
    /*display: flex;*/
    z-index: 10;
}

aside iframe {
    /*flex-basis: 50%;*/
    width: 100vw;
    height: 40vh;
    /* justify-content: center; */
    /*align-items: center;*/
}

.visible {
    display: none;
}

/* .move{
    transform: translate(0, 40px);
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        flex-wrap: wrap;
    }

    #dietform {
        justify-content: center;
        flex-grow: 1;
    }

    #wghtform {
        justify-content: center;
        flex-grow: 1;
    }

    canvas {
        justify-content: center;
        flex-grow: 1;
        margin: 30px 1.5%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #dietform {
        justify-content: flex-start;
        flex-grow: 1;
    }

    #wghtform {
        justify-content: flex-start;
        flex-grow: 1;
    }

    #myChart {
        justify-content: flex-start;
        flex-grow: 1;
        margin: 30px 1.5%;
    }
}